.top-title{background-color:#00BDBD}
.fntd{width:70px;}
.fnsz {font-size:20px;font-weight:bold;color:#E8FFFF;}
.sybold{font-weight:bold;background-color:#B5FFFF;}
.sysleep{font-weight:bold;background-color:#008F8F;color:#E8FFFF;line: height 10px;}